<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>主页</title>
		<link rel="stylesheet" type="text/css" href="../lib/css/page.css" />
		<link rel="stylesheet" type="text/css" href="../lib/css/iconfont.css" />
		<script src="../lib/js/vue.js"></script>
		<script src="../lib/js/jquery-3.5.0.min.js"></script>
	</head>
	<body class="index-body">
		<section class="index" id="index">
			<!--左侧菜单-->
			<section class="index-leftMenu">
				<div class="index-leftMenu-title">

					<span class="index-leftMenu-icon-2">个人框架 </span>

				</div>
				<div class="index-leftMenu-Menu">
					<ul class="index-leftMenu-Menu-ul" v-for="(m,index) in menus">
						<li class="index-leftMenu-Menu-1" v-on:click="leftMenuHover(index)">
							<span>{{m.name}}</span>
							<span v-bind:class="leftMenuIconClass+index" class="list-Arrow"></span>

						</li>
						<li>
							<ul v-bind:class="'index-leftMenu-Menu'+index" class="index-leftMenu-Menu-2">
								<li v-for="v in m.level2Menu" v-on:click="AddopenPages(v.name,v.id,v.href)">{{v.name}}</li>
							</ul>
						</li>
					</ul>


				</div>

			</section>

			<!--右侧内容部分-->
			<section class="index-rightBody">
				<header class="index-rightBody-header"><span class="menu-x index-leftMenu-icon-3" v-on:click="clickXIcon()">
						<i class="menu-i-1"></i>
						<i class="menu-i-2"></i>
					</span>
					<div class="index-rightBody-header-out">
						<img src="../lib/img/loginbackageimg.jpg">
						<ul class="index-rightBody-header-out-ul">
							<li class="index-rightBody-header-out-ul-li-1">系统管理员</li>
							<li class="index-rightBody-header-out-ul-li-2">系统配置</li>
							<li class="index-rightBody-header-out-ul-li-3">用户信息</li>
						</ul>
						<select class="index-rightBody-header-out-sel">
							<option>系统管理员</option>
							<option>系统配置</option>
							<option>用户信息</option>
							<option class="index-rightBody-header-out-outButton">退出登录</option>
						</select>

					</div>
				</header>
				<div class="index-rightBody-body">

					<!--右侧内容部分-->
					<div class="index-rightBody-body-pageIndex">

						<span class="index-rightBody-body-pageIndex-span" v-for="(p,index) in openPages" v-on:click="Tabpages(p.pageid)"
						 v-on:dblclick="DelOpenPages(index)">{{p.name}}&nbsp;&nbsp;&nbsp;&nbsp;<i v-on:click="DelOpenPages(index)" class="iconfont openPageClose">&#xe65f;</i></span>

					</div>

					<div class="index-rightBody-body-pages">

						<div class="index-rightBody-body-pages-all" v-bind:class="'index-rightBody-body-pages-'+o.pageid" v-for="o in openPages">

							<iframe v-bind:src="o.href" class="index-rightBody-body-pages-ifarme" frameborder="0" scrolling="off" id="external-frame"></iframe>
						</div>


					</div>

				</div>
			</section>
		</section>
	</body>
</html>
<script>
	$(".index-leftMenu-Menu-2").hide();

	var vm = new Vue({
		el: "#index",
		data: {

			//这个变量是控制左上角点一下变成X的图标的和手机版的左侧菜单样式  
			phoneMenuDisplay: true,
			//
			showMenuInfobl: false,

			leftMenuIconClass: "list-Arrow",
			//右上打开页面的索引列表
			openPages: [],
			//左侧菜单列表
			menus: [{
				name: "系统设置",
				href: "#",
				id: "1",
				level2Menu: [{
						name: "用户管理",
						href: "main.html",
						id: 1
					},
					{
						name: "权限管理",
						href: "login.html",
						id: 2
					},

				],
			}]

		},
		methods: {

			//添加打开的页面
			AddopenPages: function(name, pageid, url) {
				$(".index-rightBody-body-pages-all").hide();
				var cuiZai = 0;
				for (var i = 0; i < this.openPages.length; i++) {

					if (this.openPages[i].pageid == pageid) {
						cuiZai++;

					}

				}
				if (cuiZai == 0) {

					this.openPages.push({
						name: name,
						pageid: pageid,
						href: url
					})
				} else {
					this.Tabpages(pageid);

				}


				$(".index-rightBody-body-pages-" + pageid).show();
			},
			DelOpenPages: function(index) {

				this.openPages.splice(index, 1);

			},
			//左侧菜单显示隐藏
			showMenuInfo: function(index) {
				$(".index-leftMenu-Menu-2").hide();
				if (this.showMenuInfobl) {
					$(".index-leftMenu-Menu" + index).hide();
				} else {
					$(".index-leftMenu-Menu" + index).show();
				}
			},

			//左侧菜单的显示和隐藏还有左上角那个会变为X的图标
			clickXIcon: function() {
				this.phoneMenuDisplay = !this.phoneMenuDisplay;

				if (!this.phoneMenuDisplay) {
					$(".menu-i-1").css("transform", "rotateZ(0deg)");
					$(".menu-i-1").css("margin-top", "0.5em");
					$(".menu-i-1").css("margin-bottom", "0.15em");
					$(".menu-i-2").css("margin-top", "0.15em");
					$(".menu-i-2").css("margin-bottom", "0em");
					$(".menu-i-2").css("transform", "rotateZ(0deg)");

					$(".index-leftMenu").hide();
					$(".index-leftMenu").css("position", "static");

				} else {
					//变成X了   隐藏大菜单
					$(".menu-i-1").css("margin-top", "0.5em");
					$(".menu-i-2").css("margin-top", "0em");
					$(".menu-i-2").css("margin-bottom", "0em");
					$(".menu-i-1").css("margin-bottom", "0em");

					$(".menu-i-1").css("transform", "rotateZ(-45deg)");

					$(".menu-i-2").css("transform", "rotateZ(45deg)");

					$(".index-leftMenu").show();

				}


			},

			//左侧菜单鼠标悬浮上去后进行的操作
			leftMenuHover: function(index) {
				this.showMenuInfo(index);

				$(".list-Arrow").css("top", "0.85em");
				$(".list-Arrow").css("transform", "rotate(0deg)");
				$(".list-Arrow" + index).css("top", "0.85em");
				$(".list-Arrow" + index).css("transform", "rotate(-90deg)");

			},
			Tabpages: function(tabid) {

				$(".index-rightBody-body-pages-all").hide();
				$(".index-rightBody-body-pages-" + tabid).show();
			}

		}


	});
</script>
